.eslogan {
font-size: 30px;
align-self: center;
font-family: Arial, Helvetica, sans-serif;
}

.tema_grande {
font-size: 20px;
align-self: center;
vertical-align: middle;
}

.redes_sociales {
display: flex;
margin: 1% 0 1% 0;
}

.youtube {
display: flex;
vertical-align: middle;
margin: 1% 15% 1% 0;
}

.twitter {
display: flex;
vertical-align: middle;
margin: 1% 15% 1% 0;
}

.instagram {
display: flex;
vertical-align: middle;
margin: 1% 15% 1% 0;
}

.twitch {
display: flex;
vertical-align: middle;
margin: 1% 15% 1% 0;
}

.facebook {
display: flex;
vertical-align: middle;
margin: 1% 15% 1% 0;
}

.discord {
display: flex;
vertical-align: middle;
margin: 1% 15% 1% 0;
}

.proximas_carreras {
background-color:lightgrey;
border: 2px solid #00B2E2;
color:black
}

.switch {
align-self: center;
}

.tema {
align-self: center;
padding-top: 5%;
}

.tema_grande {
vertical-align: middle;
}

.media {
padding-top: 1%;
padding-left: 15%;
padding-right: 15%;  
}

.media-body {
padding-left: 1%;
}

.mb-0 {
padding-top: 1%;    
}

.descripcion {
padding-top: 2%;
}

.colorFE {
background-color: #00B2E2;
}

.colorF1 {
background-color: #E10600;
}

.colorIndy {
background-color: white;
}

.colorF2 {
background-color: #004267;
}

.colorF3 {
background-color: #FF0000;
}

.colorXE {
background-color: #02FD9C;
}

.colorTC {
background-color: black;
}

.colorV8SC {
background-color: #F04E23;
}

.colorNASCAR {
background-color: #FFD659;
}

.tablaXE {
border: 2px solid #02FD9C;
}

.tablaFE {
border: 2px solid #00B2E2;
}

.tablaF1 {
border: 2px solid #E10600;
}

.tablaIndy {
border: 2px solid #0075BD;
}

.tablaF2 {
border: 2px solid #004267;
}

.tablaF3 {
border: 2px solid #FF0000
}

.tablaV8SC {
border: 2px solid #F04E23;
}

.tablaTC {
border: 2px solid red;
}

th, td {
padding-right: 20px;
}

.formulae, .formula1 {
padding-top: 1%;
padding-bottom: 1%;
}

.indycar, .formula2 {
padding-top: 1%;
padding-bottom: 1%;
}

.formula3, .supercars {
padding-bottom: 1%;
}

.formula1 {
    margin: 0 2% 0;
}

.tablaPilotos, .tablaConstructores {
    margin: 0 2% 0;
}

footer {
border-top: solid 3px #00B2E2;
}

.card {
    background-color: transparent;
}